body{
    margin: 0;
}


/*   FIRST SECTION */
.first-sec
{
    margin-top: 100px;
    display: flex;
    margin-left: 90px;
    align-items:center;
}

.half-width
{   
    padding-left: 3%;
    width: 50%;
}
.half-width img{
    width: 70%;
}
.caption-alignment{
    display: flex;
}
.line{
    width: 4px;
    height: 240px;
    left: 156px;
    top: 200px;
    margin-right: 20px;
    background: rgb(216,62,94);
    border-radius: 5px;
}
.mission-2022
{
    color: rgb(216, 63, 94);
}
.caption-1
{
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
}
.intro-1
{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.button{
    background-color: rgb(230, 140, 56);
    text-decoration: none;
    padding: 10px 40px;
    color:aliceblue;
    border-radius: 5px;

    
}

.second-sec{
    margin-top: 100px;
    text-align: center;
}
.MissionVissonGoal p{
    text-align: left;
    padding-left: 5%;
    color: #424242;
    font-family: 'Poppins';

}
.MissionVissonGoal h2{
    text-align: left;
    padding-left: 5%;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins';

}
.myMission{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Poppins';
    }
.year{  
    color:  rgb(216,62,94);
    font-weight: bold;
}
.MissionVissonGoal{
    display:flex;
    margin-left: 7%;
}

.image-1{
    width: 141px;
    height: 141px;
}
.image-2{
    width: 141px;
    height: 141px;
}
.image-3{
    width: 141px;
    height: 141px;
}
.Mission{
    width: 415px;
    height: 415px;
    left: 156px;
    top: 723px;
    margin: 10px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 26px;
    margin-right: 3%;
}
.Vission{
    width: 415px;
    height: 415px;
    left: 156px;
    top: 723px;
    margin: 10px;
    background: rgba(233, 167, 167, 0.932);
    border-radius: 26px;
    margin-right: 3%;
}

.Goal{
    width: 415px;
    height: 415px;
    left: 156px;
    top: 723px;
    margin: 10px;
    border-radius: 26px;
    background: #FFF4D6;
    margin-right: 3%;
}


.third-sec
{
    margin-top: 200px;
    display: flex;
    background-image: url(images/shapes/shape-1Resized.png);
    background-repeat: no-repeat ; 
    align-items:center;
}
.picture-1
{   
    padding-left: 9%;
    width: 400px;
    height: 400px;
    margin: 0;
    
}
.third-caption{
margin-left: 100px;
   
}
.titleName{
    width: 435px;
    height: 108px;
    font-family: Poppins;
    
    font-size: 36px;
    color: #333333;
}
.third-caption p{
    text-align: left;
    color: #424242;
    font-family: 'Poppins';
}


.fourth-sec
{
    margin-top: 200px;
    display: flex;
    margin-left: 6%;

    align-items:center;
}
.picture-2{
    width: 50%;
}


footer
{ margin-top: 250px;
    width:100%;
    background: #0B0D17;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerTilte{
 color:white;
 text-align: center;
 width: 196px;
 height: 44px;
 font-size: 36px;
 font-family: 'Lobster', cursive;
}

.footerLine{
    font-family: 'Manrope', sans-serif;
    color: #D9DBE1;
    margin: 0;
    margin-bottom: 40px;
}


.fifth-sec{
   display: flex; 
   margin-top: 200px;
   align-items: center;
}

.skillImage{
    margin-left: 140px;
    padding-right: 100px;
}

.fifth-sec p{
    font-family: 'Manrope', sans-serif;
    color: #66676b;
    margin: 0;
    margin-bottom: 40px;
}